UPTIMA_PORT=3500
UPTIMA_POSTGRES_DEV_URL=postgres://enyata:enyata90@localhost:5432/uptima_dev_db
UPTIMA_POSTGRES_TEST_URL=postgres://enyata:enyata90@localhost:5432/uptima_test_db
UPTIMA_SECRET=JORCJIROJF0034U4JMFCPJEPCJEIOFJCXNNXNXPAPWPPEKCKCJPOERMEOIRJRMCPP
UPTIMA_NODE_ENV=production
UPTIMA_WEBHOOK_KEY=845uif0945k54r09r45rf0ierk
####### PLEASE SET THE UNDER LISTED VARIABLES WHEN USING DOCKER-COMPOSE TO RUN THE APP #####################
POSTGRES_USER=enyata
POSTGRES_PASSWORD=enyata90
POSTGRES_DB=uptima_dev_db
UPTIMA_REDIS_URL=127.000.0495.1:090409
